In [12]:
# Q 1
lst = [10, 20, 30, 40, 50, 60, 70, 80]
print (lst)

[10, 20, 30, 40, 50, 60, 70, 80]

In [13]:
# Q 1 (i)
lst.append (200)
lst.append (300)
print (lst)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

In [14]:
# Q 1 (ii)
lst.remove (10)
lst.remove (30)
print (lst)

[20, 40, 50, 60, 70, 80, 200, 300]

In [15]:
# Q 1 (iii)
lst.sort()
print (lst)

[20, 40, 50, 60, 70, 80, 200, 300]

In [11]:
# Q 1 (iv)
lst.reverse ()
print (lst)

[20, 40, 50, 60, 70, 80, 200, 300]

In [10]:
# Q 2
t = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print (t)

(45, 89.5, 76, 45.4, 89, 92, 58, 45)

In [16]:
# Q 2 (i)
print (max(t))
print (t.index(max(t)))

92
5

In [17]:
# Q 2 (ii)
print (min(t))
print (t.count(min(t)))

45
2

In [19]:
# Q 2 (iii)
list(t).reverse ()
print (list(t))

[45, 89.5, 76, 45.4, 89, 92, 58, 45]

In [21]:
# Q 2 (iv)
n = int(input("Enter the number : "))
if n in t:
    print (t.index(n))
else:
    print ("Number not present")

Enter the number :  76

2

In [23]:
# Q 3 (i)
import random
random_numbers = [random.randint(100, 900) for _ in range(100)]
odd_numbers = [num for num in random_numbers if num % 2 != 0]
print(f"Odd numbers: {odd_numbers}")

Odd numbers: [123, 117, 597, 325, 793, 473, 191, 581, 335, 155, 569, 533, 343, 391, 155, 683, 833, 433, 357, 849, 377, 183, 111, 379, 179, 109, 691, 819, 773, 189, 523, 657, 341, 365, 563, 677, 653, 799, 871, 681, 657, 835, 581, 451, 265, 261, 205, 733, 609, 201, 303, 629]

In [24]:
# Q (ii)
even_numbers = [num for num in random_numbers if num % 2 == 0]
print(f"Even numbers: {even_numbers}")

Even numbers: [592, 286, 636, 644, 124, 264, 222, 426, 864, 436, 858, 436, 838, 806, 206, 216, 814, 574, 250, 486, 282, 472, 580, 148, 490, 416, 192, 658, 622, 252, 432, 586, 658, 376, 402, 462, 556, 728, 726, 346, 650, 212, 762, 356, 446, 888, 150, 110]

In [25]:
# Q 3 (iii)
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [num for num in random_numbers if is_prime(num)]
print(f"Prime numbers: {prime_numbers}")

Prime numbers: [191, 569, 683, 433, 379, 179, 109, 691, 773, 523, 563, 677, 653, 733]

In [26]:
# Q 4 (i)
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print (A | B)

{34, 45, 78, 23, 56, 90}

In [27]:
# Q 4 (ii)
print (A & B)

{90, 78}

In [28]:
# Q 4 (iii)
print (A ^ B)

{34, 45, 23, 56}

In [30]:
# Q (iv)
A.issubset (B)
B.issuperset (A)

False

In [31]:
# Q 4 (v)
specific_score_X = int(input("Enter a score to remove from set A: "))
if specific_score_X in A:
    A.remove(specific_score_X)
    print(f"Score {specific_score_X} removed from set A. Updated set A: {A}")
else:
    print(f"Score {specific_score_X} is not present in set A.")

Enter a score to remove from set A:  90

Score 90 removed from set A. Updated set A: {56, 34, 78}

In [32]:
# Q 5
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
sample_dict["location"] = sample_dict.pop("city")
print (sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}